@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;

    background: #3a3f50;
    color: white;

    font-family: 'Inter';

    display: flex;
    align-items: start;
    justify-content: space-between;
}


.side-bar{
    width: 20%;
    height: 100vh;

    position: sticky;
    top: 0;

    background: #1B2028;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.side-bar .top{
    width: 100%;
    height: 80%;
}

.side-bar .top .logo{
    width: 80%;
    height: 12%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: white;
    font-weight: 600;
    font-size: 20px;
}

.side-bar .top .logo img{
    width: 30px;
}


.side-bar .top .links{
    width: 80%;
    height: 88%;
    margin: 0 auto;
    margin-top: 8%;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.side-bar .top .links a{
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 14px;
    text-decoration: none;
    color: #e1e1e1;

    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 8px;
}

.side-bar .top .links a span{
    font-size: 22px;
}

.side-bar .top .links .active{
    font-weight: 500;

    background: #3A6FF8;
    color: white;
}



.side-bar .bottom{
    width: 100%;
    height: 20%;
}

.side-bar .bottom .actions{
    width: 80%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.side-bar .bottom .actions a{
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 14px;
    text-decoration: none;
    color: #e1e1e1;

    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 8px;
}



.main{
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header{
    width: 95%;
    margin: 0 auto;
    margin-top: 1%;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .header .dashboard{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 26px;
}

.main .header .search{
    width: 40%;
    height: 6vh;
    background: #1B2028;
    padding: 0px 20px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .header .search input{
    all: unset;
    width: 90%;
}

.main .header .search button{
    all: unset;
}

.main .header .search button span{
    font-size: 22px;
}

.main .header .others{
    width: 25%;
    height: 6vh;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.main .header .others .notif{
    width: 18%;
    height: 100%;
    background: #1B2028;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 6px;
}

.main .header .others .circle{
    width: 5px;
    height: 5px;
    background: white;
    border: 1.5px solid #F46D22;

    position: relative;
    top: -6px;
    left: -24px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.main .header .others .img{
    height: 100%;
    width: 18%;
    background: #9E9E9E;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 6px;
}


.main .header .others .notif span{
    font-size: 18px;
}

.main .header .others .name{
    font-size: 14px;
}

.main .header .others .action span{
    font-size: 16px;
    position: relative;
    top: 2px;
    color: #9E9E9E;
}


.stats{
    width: 95%;
    height: 22vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.card{
    width: 25%;
    height: 100%;
    
    background: #1B2028;
    border-radius: 14px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    padding: 14px;
}

.card .top{
    width: 100%;
    height: 30%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .top div:first-child{
    display: flex;
    align-items: center;
    gap: 12px;
}

.card .top div .icon{
    width: 40px;  
    height: 40px;

    background: #31353F;  
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card .top div .icon img{
    width: 50%;
}


.card .top div span:last-child{
    display: flex;
    flex-direction: column;
}

.card .top div span:last-child span:first-child{
    font-weight: 700;
}

.card .top div span:last-child span:last-child{
    font-size: 12px;
    opacity: 60%;
}


.card .top div:last-child span{
    font-size: 22px;
    color: #1ECB4F;
}

.card .bottom{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.card .bottom div:first-child{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .bottom div:first-child span:first-child{
    font-weight: 600;
    font-size: 18px;
}

.card .bottom div:first-child span:last-child{
    color: #1ECB4F;
    font-size: 12px;
}

.card:last-child .top div:last-child span{
    font-size: 22px;
    color: #F46D22;
    rotate: 180deg;
}

.card:last-child .bottom div:first-child span:last-child{
    color: #F46D22;
}

.main-content{
    width: 95%;
    height: 78vh;
    margin: 0 auto;
    margin-bottom: 2%;

    display: flex;
    gap: 30px;
}

.main-content .left{
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-content .left .top{
    width: 100%;
    height: 30%;

    background: #3A6FF8;
    border-radius: 14px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    box-sizing: border-box;
    padding: 16px;
}

.main-content .left .top div:first-child{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.main-content .left .top div:first-child span:first-child{
    opacity: 70%;

}

.main-content .left .top div:first-child img{
    width: 70%;
}


.main-content .left .top .info{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content .left .top .info div:first-child{
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.main-content .left .top .info div:last-child span:first-child{
    font-size: 10px;
    opacity: 70%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main-content .left .top .info div:last-child span:last-child{
    font-weight: 600;
    font-style: italic;
}


.main-content .left .top .info div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main-content .left .bottom{
    width: 100%;
    height: 70%;
    background: #1B2028;
    border-radius: 14px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 16px;
}

.main-content .left .bottom .head{
    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;

    font-size: 20px;
    font-weight: 600;
    
}

.main-content .left .bottom .logs{
    width: 100%;
    height: 90%;
    margin-top: 4%;

    display: flex;
    flex-direction: column;
    gap: 10px;    
}

.main-content .left .bottom .log{
    width: 100%;
    height: 18%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.main-content .left .bottom .log .left{
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.main-content .left .bottom .log .left div:first-child{
    background: #31353F;
    padding: 10px;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content .left .bottom .log .left div:last-child{
    margin-left: -10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 8px;
}


.main-content .left .bottom .log .left div:last-child span:first-child{
    font-weight: 500;
    font-size: 14px;
}


.main-content .left .bottom .log .left div:last-child span:last-child{
    font-size: 10px;
    opacity: 60%;
}

.main-content .left .bottom .log .right{
    width: 30%;

 
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    justify-content: center;
}

.main-content .left .bottom .log .right span:first-child{
    font-size: 10px;
    margin-bottom: -24px;
    color: #F46D22;
}

.main-content .left .bottom .log .right span:last-child{
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 0;
}





.main-content .right{
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-content .right .top{
    width: 100%;
    height: 75%;
    border-radius: 14px;
    background: #1B2028;

    box-sizing: border-box;
    padding: 16px;
}

.main-content .right .top .head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.main-content .right .top .head div:first-child{
    font-weight: 600;
    font-size: 20px;
}


.main-content .right .top .head div:last-child{
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 6px;
}

.main-content .right .top .head div:last-child span:first-child{
    font-size: 14px;
    border: 1px solid #ffffff33;
    border-radius: 4px;
    padding: 10px;
}

.main-content .right .top .head div:last-child div{
    border: 1px solid #ffffff33;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #9E9E9E;
}


.main-content .right .top .main-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 2%;
}

.main-content .right .top .main-head div div:first-child{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    color: #E4E4E4;
}

.main-content .right .top .main-head div div:last-child{
    font-weight: 700;
    font-size: 16px;
}


.main-content .right .top .main-head div:last-child{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}


.main-content .right .top .main-head div:last-child span{
    padding: 4px 14px;
    border-radius: 20px;
    border: 1px solid #31353F;
}

.main-content .right .top .body{
    width: 100%;
    height: 70%;
    margin-top: 2%;

    display: flex;
    align-items: start;
}

.main-content .right .top .body .left{
    width: 10%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    font-size: 12px;
}

.main-content .right .top .body .right{
    width: 90%;
    height: 100%;

    font-size: 12px;
}

.main-content .right .top .body .right div:first-child{
    width: 100%;
    height: 95%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    background-image: url(assets/Graphs.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.main-content .right .top .body .right div:last-child{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}





.main-content .right .bottom{
    width: 100%;
    height: 25%;
    border-radius: 14px;
    background: #1B2028;

    
    box-sizing: border-box;
    padding: 16px;
}

.main-content .right .bottom .head{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.main-content .right .bottom .head span:first-child{
    font-weight: 600;
    font-size: 20px;
}

.main-content .right .bottom .head span:last-child{
    opacity: 60%;
    font-size: 10px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;

    cursor: pointer;
}

.main-content .right .bottom .body{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    gap: 10px;
}

.main-content .right .bottom .body .body-head{
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    color: #9E9E9E;
}

.main-content .right .bottom .body .body-body{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.main-content .right .bottom .body .coin{
    width: 20%;
    display: flex;
    align-items: center;
}


.main-content .right .bottom .body .change{
    width: 15%;
}


.main-content .right .bottom .body .market{
    width: 20%;
}

.main-content .right .bottom .body .vol{
    width: 20%;
}


.main-content .right .bottom .body .price{
    width: 15%;
}


.main-content .right .bottom .body .action{
    text-align: center;

    width: 10%;
}